<footer class="footer">
  <small>
    A <a href="http://www.railstutorial.org/">Ruby on Rails Demo</a>
    by <a href="http://www.garagisti.net/">Rahul Bose</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", "http://www.garagisti.net/about/" %></li>
      <li><%= link_to "Contact", "http://www.garagisti.net/contact/" %></li>
      <li><a href="http://news.railstutorial.org/">News</a></li>
    </ul>
  </nav>
</footer>